@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cards{
  @apply w-[15%] h-auto mt-[4%] m-4 p-5 bg-[#DFC6B0] rounded shadow-lg hover:shadow-2xl hover:scale-110 transition-transform duration-300 flex flex-col items-center;
  &
  .text-name{
    @apply text-lg font-bold;
  }
}


@font-face {
  font-family: 'Nico Moji';
  src: local('Nico Moji'), url('../pages/fonts/NicoMoji-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* CSS para ocultar a barra de rolagem */
.custom-scroll {
  scrollbar-width: none; /* Para Firefox */
}

.custom-scroll::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari e Opera */
}
